* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: url('/src/images/background.png') center no-repeat;
  background-size: cover;
}

.login-container{
  width: 100%;
  height: 100Vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container img{
  position: absolute;
  top: 2%;
  left: 2%;
}

.login{
  width: 40%;
  height: 70vh;
  background: #242424;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login form{
  border-radius: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}



h1{
  text-align: center;
  font-size: 40px;
  color: aliceblue;
  Font-family: Mixed;
  text-transform: uppercase;
}

h1:first-letter{
  font-size: 50Px;
  color: #452D4EB8;

}

.point{
  color:#FFEE55;
  font-size: 60px;
}