@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: url('/src/images/background.png') center no-repeat;
  background-size: cover;
}

.container{
  width: 100%;
  height: 100vh; 
  position: relative;
}

.login-container{
  width: 100%;
  height: 100Vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-container img{
  position: absolute;
  top: 2%;
  left: 2%;
}

.login{
  width: 40%;
  height: 70vh;
  background: #242424;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login form{
  border-radius: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.login form button{
  margin-left: 15px;
}

.profile-container{
  padding-left: 140px;
}

.sidebar{
  border: red solid 2px;
  height: 100vh;
  width: 120px;
  position: absolute;
  left: 0;
  background: rgba(69, 45, 78, 0.72)  ;
  box-shadow: -2px 4px 23px rgba(0, 0, 0, 0.52);
}

 h1{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 500;
  color: white;
}

h1:first-letter{
  font-size: 80Px;
  font-weight: 600;
  color: #452D4EB8;

}

.point{
  color:#FFEE55;
  font-size: 100px;
}